<section class="bg-[#E8EEFB] px-4 sm:px-8 md:px-12 lg:px-16 py-10">
    <!-- Section Heading -->
    <h1
        class="text-xl sm:text-2xl md:text-3xl font-semibold text-start text-black mb-6 sm:mb-8"
    >
        Our Speakers
    </h1>

    <!-- Speaker Images Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 sm:gap-8">
        <div
            class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[220px] lg:max-w-[300px] aspect-[3/4] overflow-hidden shadow-lg"
        >
            <img
                src="/assets/speakers/speacker-1.png"
                alt="Speaker Image"
                class="w-full h-full object-cover"
            />
        </div>
        <div
            class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[220px] lg:max-w-[300px] aspect-[3/4] overflow-hidden shadow-lg"
        >
            <img
                src="/assets/speakers/speacker-2.png"
                alt="Speaker Image"
                class="w-full h-full object-cover"
            />
        </div>
        <div
            class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[220px] lg:max-w-[300px] aspect-[3/4] overflow-hidden shadow-lg"
        >
            <img
                src="/assets/speakers/speacker-3.png"
                alt="Speaker Image"
                class="w-full h-full object-cover"
            />
        </div>
        <div
            class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[220px] lg:max-w-[300px] aspect-[3/4] overflow-hidden shadow-lg"
        >
            <img
                src="/assets/speakers/speacker-4.png"
                alt="Speaker Image"
                class="w-full h-full object-cover"
            />
        </div>
    </div>

    <!-- View All Speakers Button -->
    <div class="flex justify-center mt-6 sm:mt-14">
        <button
            class="border-2 border-[#234893] text-[#234893] px-4 sm:px-20 py-2 text-sm sm:text-lg font-semibold hover:bg-[#234893] hover:text-white transition duration-300"
        >
            View All Speakers
        </button>
    </div>
</section>
