<section
    class="bg-[url('/assets/img/png/registration-bg.png')] bg-cover bg-center bg-no-repeat"
>
    <h1>Registration Charges</h1>
    <div class="flex">
        <div class="bg-[#224793]">
            <h1>AASK Member</h1>
            <h3>Early bird (till 15th April 2024)</h3>
            <h1>₹6000</h1>
            <hr class="bg-white h-0.5" />
            <h3>Regular bird (till 15th April 2024)</h3>
            <h1>₹7000</h1>
            <button class="border-2 border-white text-white">Register</button>
        </div>
        <div class="bg-[#224793]">
            <h1>PG Member</h1>
            <h3>Early bird (till 15th April 2024)</h3>      
            <h1>₹6000</h1>
            <hr class="bg-white h-0.5" />
            <h3>Regular bird (till 15th April 2024)</h3>
            <h1>₹7000</h1>
            <button class="border-2 border-white text-white">Register</button>
        </div>
        <div class="bg-[#224793]">
            <h1>PG Non Member</h1>
            <h3>Early bird (till 15th April 2024)</h3>
            <h1>₹6000</h1>
            <hr class="bg-white h-0.5" />
            <h3>Regular bird (till 15th April 2024)</h3>
            <h1>₹7000</h1>
            <button class="border-2 border-white text-white">Register</button>
        </div>
        <div class="bg-[#224793]">
            <h1>Non Member</h1>
            <h3>Early bird (till 15th April 2024)</h3>
            <h1>₹6000</h1>
            <hr class="bg-white h-0.5" />
            <h3>Regular bird (till 15th April 2024)</h3>
            <h1>₹7000</h1>
            <button class="border-2 border-white text-white">Register</button>
        </div>
    </div>
</section>
