---
import Layout from '../../layouts/Layout.astro';
const speakers = [
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-1.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-2.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-3.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-4.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-1.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-2.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-3.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-4.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-1.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-2.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-3.png',
  },
  {
    name: 'Dr. Sunitha Maheshwari',
    role: 'Organizing Chairperson',
    image: '/assets/img/speakers/speacker-4.png',
  },
];
---

<Layout title="">
  <div
    class="bg-[url('/assets/img/jpg/hero-org-committee.jpg')] 2xl:pl-[130px] 2xl:pr-[200px] xl:pl-[80px] xl:pr-[50px] px-[15px] md:px-[50px] pt-[200px] md:pt-[250px] pb-[47px] md:pb-[80px] text-white bg-no-repeat bg-cover relative bg-top"
  >
    <div class="relative z-10">
      <p
        class="text-left font-bold text-[20px] md:text-[42px] uppercase tracking-wide mb-5"
      >
        Our Speakers
      </p>
      <p class="max-w-4xl text-left">
        Meet Our Esteemed Speakers Discover the thought leaders, innovators, and
        industry experts shaping the conversation at IMACON 2025. Our speakers
        bring a wealth of knowledge and experience, offering valuable insights,
        groundbreaking ideas, and inspiring discussions. Stay tuned for more
        details on our lineup of visionary speakers!
      </p>
    </div>
    <!-- <div class="absolute bg-[#a6482680] w-full h-full top-0 left-0"></div> -->

    <div
      class="absolute w-full h-full top-0 left-0 right-0 bottom-0 hidden md:block"
      style="background-image: linear-gradient(360.05deg, rgba(0, 0, 0, 0.651) 48.18%, #000000d2 100%);"
    >
    </div>
  </div>
  <div
    class="2xl:pl-[130px] 2xl:pr-[200px] xl:pl-[80px] xl:pr-[50px] px-[15px] md:px-[50px] pt-[33px] md:pt-[100px] pb-[47px] md:pb-[80px] relative"
  >
    <div
      class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-[40px] md:gap-[25px] w-full"
    >
      {
        speakers.map((user, i) => (
          <div class={`w-full flex flex-col gap-4 items-center text-black `}>
            <img
              class={`min-w-[152px] min-h-[152px] md:min-w-[200px] md:min-h-[200px] max-w-[152px] max-h-[152px] md:max-w-[200px] md:max-h-[200px]  rounded-full object-cover  object-top  bg-[#a6482680]`}
              src={user.image}
              alt=""
            />
            <div class="text-center">
              <p class="text-xl font-bold lg:whitespace-nowrap">{user.name}</p>
              <p class="font-medium whitespace-pre-line">{user.role}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
