<footer
  class="w-full mx-auto p-3 sm:p-10 md:p-14 lg:p-20 border-t border-gray-200 bg-[#F3F3F3]"
>
  <div class="flex flex-col md:flex-row justify-between items-center">
    <div
      class="flex flex-wrap justify-center md:justify-start gap-2 md:gap-4 md:gap-y-1 text-sm md:text-lg font-bold text-gray-800"
    >
      <a href="#about" class="hover:text-gray-900">About</a>
      <a href="#message" class="hover:text-gray-900">Message</a>
      <a href="#speakers" class="hover:text-gray-900">Speakers</a>
      <a href="#charges" class="hover:text-gray-900">Charges</a>
      <a href="#team" class="hover:text-gray-900">Team</a>
    </div>
    <div class="mt-3 md:mt-0">
      <div
        class="text-center md:text-start text-base md:text-2xl font-bold text-gray-800"
      >
        Association of Arthroscopy Society of Kerala - All Rights Reserved
      </div>
      <div
        class="text-center md:text-start text-sm md:text-xl font-light text-gray-500 pt-2"
      >
        Designed and Developed by Conference Prime
      </div>
    </div>
  </div>
</footer>
